{% extends "base.html" %}
{% block title %}خَيال — المنصة{% endblock %}

{% block body %}

{% include 'partials/nav.html' %}

<main class="view is-active" id="view-app">
  <div class="app-main">
    {% include 'partials/tabs/home.html' %}
    {% include 'partials/tabs/explore.html' %}
    {% include 'partials/tabs/liked.html' %}
    {% include 'partials/tabs/saved.html' %}
    {% include 'partials/tabs/chat.html' %}
    {% include 'partials/tabs/profile.html' %}
  </div>
</main>

{% include 'partials/dock.html' %}

{% endblock %}